.player-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black 2px solid;
  border-radius: 20px;
  padding: 8px;
}

.player-card:hover {
  background-color: #d5d5d5;
}