.info-box {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.list-group {
  display: flex;
  flex-direction: row;
  gap: 16px;
}